In [2]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in c:\users\raegan\anaconda3\lib\site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\raegan\anaconda3\lib\site-packages (from ucimlrepo) (2023.11.17)
Requirement already satisfied: numpy>=1.26.0 in c:\users\raegan\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\raegan\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\raegan\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\raegan\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\raegan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7
Note: you may need to restart the kernel to use updated packages.

In [4]:
#data set
#https://archive.ics.uci.edu/dataset/45/heart+disease 

from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
heart_disease = fetch_ucirepo(id=45) 
  
# data (as pandas dataframes) 
X = heart_disease.data.features 
y = heart_disease.data.targets 
  
# metadata 
print(heart_disease.metadata) 
  
# variable information 
print(heart_disease.variables)

{'uci_id': 45, 'name': 'Heart Disease', 'repository_url': 'https://archive.ics.uci.edu/dataset/45/heart+disease', 'data_url': 'https://archive.ics.uci.edu/static/public/45/data.csv', 'abstract': '4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach', 'area': 'Health and Medicine', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 303, 'num_features': 13, 'feature_types': ['Categorical', 'Integer', 'Real'], 'demographics': ['Age', 'Sex'], 'target_col': ['num'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1989, 'last_updated': 'Fri Nov 03 2023', 'dataset_doi': '10.24432/C52P4X', 'creators': ['Andras Janosi', 'William Steinbrunn', 'Matthias Pfisterer', 'Robert Detrano'], 'intro_paper': {'ID': 231, 'type': 'NATIVE', 'title': 'International application of a new probability algorithm for the diagnosis of coronary artery disease.', 'authors': 'R. Detrano, A. JÃ¡nosi, W. Steinbrunn, M. Pfisterer, J. Schmid, S. Sandhu, K. Guppy, S. Lee, V. Froelicher', 'venue': 'American Journal of Cardiology', 'year': 1989, 'journal': None, 'DOI': None, 'URL': 'https://www.semanticscholar.org/paper/a7d714f8f87bfc41351eb5ae1e5472f0ebbe0574', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': '2756873', 'pmcid': None}, 'additional_info': {'summary': 'This database contains 76 attributes, but all published experiments refer to using a subset of 14 of them.  In particular, the Cleveland database is the only one that has been used by ML researchers to date.  The "goal" field refers to the presence of heart disease in the patient.  It is integer valued from 0 (no presence) to 4. Experiments with the Cleveland database have concentrated on simply attempting to distinguish presence (values 1,2,3,4) from absence (value 0).  \n   \nThe names and social security numbers of the patients were recently removed from the database, replaced with dummy values.\n\nOne file has been "processed", that one containing the Cleveland database.  All four unprocessed files also exist in this directory.\n\nTo see Test Costs (donated by Peter Turney), please see the folder "Costs" ', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Only 14 attributes used:\r\n      1. #3  (age)       \r\n      2. #4  (sex)       \r\n      3. #9  (cp)        \r\n      4. #10 (trestbps)  \r\n      5. #12 (chol)      \r\n      6. #16 (fbs)       \r\n      7. #19 (restecg)   \r\n      8. #32 (thalach)   \r\n      9. #38 (exang)     \r\n      10. #40 (oldpeak)   \r\n      11. #41 (slope)     \r\n      12. #44 (ca)        \r\n      13. #51 (thal)      \r\n      14. #58 (num)       (the predicted attribute)\r\n\r\nComplete attribute documentation:\r\n      1 id: patient identification number\r\n      2 ccf: social security number (I replaced this with a dummy value of 0)\r\n      3 age: age in years\r\n      4 sex: sex (1 = male; 0 = female)\r\n      5 painloc: chest pain location (1 = substernal; 0 = otherwise)\r\n      6 painexer (1 = provoked by exertion; 0 = otherwise)\r\n      7 relrest (1 = relieved after rest; 0 = otherwise)\r\n      8 pncaden (sum of 5, 6, and 7)\r\n      9 cp: chest pain type\r\n        -- Value 1: typical angina\r\n        -- Value 2: atypical angina\r\n        -- Value 3: non-anginal pain\r\n        -- Value 4: asymptomatic\r\n     10 trestbps: resting blood pressure (in mm Hg on admission to the hospital)\r\n     11 htn\r\n     12 chol: serum cholestoral in mg/dl\r\n     13 smoke: I believe this is 1 = yes; 0 = no (is or is not a smoker)\r\n     14 cigs (cigarettes per day)\r\n     15 years (number of years as a smoker)\r\n     16 fbs: (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)\r\n     17 dm (1 = history of diabetes; 0 = no such history)\r\n     18 famhist: family history of coronary artery disease (1 = yes; 0 = no)\r\n     19 restecg: resting electrocardiographic results\r\n        -- Value 0: normal\r\n        -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)\r\n        -- Value 2: showing probable or definite left ventricular hypertrophy by Estes\' criteria\r\n     20 ekgmo (month of exercise ECG reading)\r\n     21 ekgday(day of exercise ECG reading)\r\n     22 ekgyr (year of exercise ECG reading)\r\n     23 dig (digitalis used furing exercise ECG: 1 = yes; 0 = no)\r\n     24 prop (Beta blocker used during exercise ECG: 1 = yes; 0 = no)\r\n     25 nitr (nitrates used during exercise ECG: 1 = yes; 0 = no)\r\n     26 pro (calcium channel blocker used during exercise ECG: 1 = yes; 0 = no)\r\n     27 diuretic (diuretic used used during exercise ECG: 1 = yes; 0 = no)\r\n     28 proto: exercise protocol\r\n          1 = Bruce     \r\n          2 = Kottus\r\n          3 = McHenry\r\n          4 = fast Balke\r\n          5 = Balke\r\n          6 = Noughton \r\n          7 = bike 150 kpa min/min  (Not sure if "kpa min/min" is what was written!)\r\n          8 = bike 125 kpa min/min  \r\n          9 = bike 100 kpa min/min\r\n         10 = bike 75 kpa min/min\r\n         11 = bike 50 kpa min/min\r\n         12 = arm ergometer\r\n     29 thaldur: duration of exercise test in minutes\r\n     30 thaltime: time when ST measure depression was noted\r\n     31 met: mets achieved\r\n     32 thalach: maximum heart rate achieved\r\n     33 thalrest: resting heart rate\r\n     34 tpeakbps: peak exercise blood pressure (first of 2 parts)\r\n     35 tpeakbpd: peak exercise blood pressure (second of 2 parts)\r\n     36 dummy\r\n     37 trestbpd: resting blood pressure\r\n     38 exang: exercise induced angina (1 = yes; 0 = no)\r\n     39 xhypo: (1 = yes; 0 = no)\r\n     40 oldpeak = ST depression induced by exercise relative to rest\r\n     41 slope: the slope of the peak exercise ST segment\r\n        -- Value 1: upsloping\r\n        -- Value 2: flat\r\n        -- Value 3: downsloping\r\n     42 rldv5: height at rest\r\n     43 rldv5e: height at peak exercise\r\n     44 ca: number of major vessels (0-3) colored by flourosopy\r\n     45 restckm: irrelevant\r\n     46 exerckm: irrelevant\r\n     47 restef: rest raidonuclid (sp?) ejection fraction\r\n     48 restwm: rest wall (sp?) motion abnormality\r\n        0 = none\r\n        1 = mild or moderate\r\n        2 = moderate or severe\r\n        3 = akinesis or dyskmem (sp?)\r\n     49 exeref: exercise radinalid (sp?) ejection fraction\r\n     50 exerwm: exercise wall (sp?) motion \r\n     51 thal: 3 = normal; 6 = fixed defect; 7 = reversable defect\r\n     52 thalsev: not used\r\n     53 thalpul: not used\r\n     54 earlobe: not used\r\n     55 cmo: month of cardiac cath (sp?)  (perhaps "call")\r\n     56 cday: day of cardiac cath (sp?)\r\n     57 cyr: year of cardiac cath (sp?)\r\n     58 num: diagnosis of heart disease (angiographic disease status)\r\n        -- Value 0: < 50% diameter narrowing\r\n        -- Value 1: > 50% diameter narrowing\r\n        (in any major vessel: attributes 59 through 68 are vessels)\r\n     59 lmt\r\n     60 ladprox\r\n     61 laddist\r\n     62 diag\r\n     63 cxmain\r\n     64 ramus\r\n     65 om1\r\n     66 om2\r\n     67 rcaprox\r\n     68 rcadist\r\n     69 lvx1: not used\r\n     70 lvx2: not used\r\n     71 lvx3: not used\r\n     72 lvx4: not used\r\n     73 lvf: not used\r\n     74 cathef: not used\r\n     75 junk: not used\r\n     76 name: last name of patient  (I replaced this with the dummy string "name")', 'citation': None}}
        name     role         type demographic  \
0        age  Feature      Integer         Age
1        sex  Feature  Categorical         Sex
2         cp  Feature  Categorical        None
3   trestbps  Feature      Integer        None
4       chol  Feature      Integer        None
5        fbs  Feature  Categorical        None
6    restecg  Feature  Categorical        None
7    thalach  Feature      Integer        None
8      exang  Feature  Categorical        None
9    oldpeak  Feature      Integer        None
10     slope  Feature  Categorical        None
11        ca  Feature      Integer        None
12      thal  Feature  Categorical        None
13       num   Target      Integer        None

                                          description  units missing_values
0                                                None  years             no
1                                                None   None             no
2                                                None   None             no
3   resting blood pressure (on admission to the ho...  mm Hg             no
4                                   serum cholestoral  mg/dl             no
5                     fasting blood sugar > 120 mg/dl   None             no
6                                                None   None             no
7                         maximum heart rate achieved   None             no
8                             exercise induced angina   None             no
9   ST depression induced by exercise relative to ...   None             no
10                                               None   None             no
11  number of major vessels (0-3) colored by flour...   None            yes
12                                               None   None            yes
13                         diagnosis of heart disease   None             no

In [22]:
X.head()
# We have a Heart Disease prediction dataset with a single table which has the following attributes.
# 1. age - age in years
# 2. gender- gender (1 = male; 0 = female)
# 3. cp - chest pain type
#         -- Value 1: typical angina
#         -- Value 2: atypical angina
#         -- Value 3: non-anginal pain
#         -- Value 4: asymptomatic
# 4. trestbps - resting blood pressure (in mm Hg on admission to the hospital)
# 5. chol - serum cholestoral in mg/dl
# 6. fbs - (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)
# 7. restecg - resting electrocardiographic results
#         -- Value 0: normal
#         -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
#         -- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria
# 8. thalach - maximum heart rate achieved
# 9. exang - exercise induced angina (1 = yes; 0 = no)
# 10. oldpeak - ST depression induced by exercise relative to rest
# 11. slope - the slope of the peak exercise ST segment
#         -- Value 1: upsloping
#         -- Value 2: flat
#         -- Value 3: downsloping
# 12. ca - number of major vessels (0-3) colored by flourosopy
# 13. thal - 3 = normal; 6 = fixed defect; 7 = reversable defect
# 14. num (the predicted attribute) - diagnosis of heart disease (angiographic disease status)
#         -- Value 0: < 50% diameter narrowing
#         -- Value 1: > 50% diameter narrowing

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0

In [26]:
y.head()

   num
0    0
1    2
2    1
3    0
4    0

In [90]:
import pandas as pd
import sqlite3  # Make sure to import sqlite3

# Connect to SQLite database (create if it doesn't exist)
conn = sqlite3.connect('heart_disease.db')

# Write the DataFrame to the database (table name: 'patients')
X.to_sql('patients', conn, if_exists='replace', index=False)

303

In [92]:
conn = sqlite3.connect('heart_disease.db')

# Write the DataFrame to the database (table name: 'patients')
y.to_sql('heartdisease', conn, if_exists='replace', index=False)

303

In [34]:
# SQL query
query = """
SELECT 
    MIN(age) AS min_age,
    MAX(age) AS max_age,
    AVG(age) AS avg_age
FROM 
    patients;
"""

# Execute the query and load results into a DataFrame
result_df = pd.read_sql_query(query, conn)

# Close the connection
# conn.close()

# Display the resul

In [36]:
print(result_df)

   min_age  max_age    avg_age
0       29       77  54.438944

In [40]:
# Write and SQL query to count the number of male and female patients in the dataset.
# Define the SQL query
query = """
SELECT 
    sex, 
    COUNT(*) AS patient_count
FROM 
    patients
GROUP BY 
    sex;
"""
#1=male 0=femaale
# Execute the query and load the result into a DataFrame
gender_counts = pd.read_sql_query(query, conn)

# Close the database connection
# conn.close()

# Display the counts
print(gender_counts)

   sex  patient_count
0    0             97
1    1            206

In [46]:
# Write an SQL query to determine the frequency of each type of chest pain (typical angina, atypical angina, non-anginal pain, asymptomatic) among patients."
# Define the SQL query

query = """
SELECT 
    CASE 
        WHEN cp = 1 THEN 'Typical Angina'
        WHEN cp = 2 THEN 'Atypical Angina'
        WHEN cp = 3 THEN 'Non-Anginal Pain'
        WHEN cp = 4 THEN 'Asymptomatic'
    END AS chest_pain_type, 
    COUNT(*) AS frequency
FROM 
    patients
GROUP BY 
    chest_pain_type;
"""

# Execute the query and load the result into a DataFrame
chest_pain_frequencies = pd.read_sql_query(query, conn)

# Close the database connection
# conn.close()

# Display the result
print(chest_pain_frequencies)

    chest_pain_type  frequency
0      Asymptomatic        144
1   Atypical Angina         50
2  Non-Anginal Pain         86
3    Typical Angina         23

In [58]:
# import sqlite3
# import pandas as pd

# # Connect to the SQLite database
# conn = sqlite3.connect('your_database.db')

#this assumes the indicies are the key as there is no other key column to join
# Fetch both tables into pandas DataFrames
patients_df = pd.read_sql_query("SELECT * FROM patients", conn, index_col=None)
heartdisease_df = pd.read_sql_query("SELECT * FROM heartdisease", conn, index_col=None)

# Close the database connection
# conn.close()

# Set index for both DataFrames if they don't already have one
patients_df.index = patients_df.index
heartdisease_df.index = heartdisease_df.index

# Merge DataFrames on index
merged_df = patients_df.join(heartdisease_df, how='inner')

# Now perform the grouping and count based on age group and heart disease status
age_group_distribution = merged_df.groupby([
    pd.cut(merged_df['age'], bins=[20, 30, 40, 50, 60, 70, 80, 100], right=False, labels=['20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80+']),
    'num'
], observed=False).size().reset_index(name='frequency')

# Display the result
print(age_group_distribution)

      age  num  frequency
0   20-29    0          1
1   20-29    1          0
2   20-29    2          0
3   20-29    3          0
4   20-29    4          0
5   30-39    0         10
6   30-39    1          2
7   30-39    2          0
8   30-39    3          1
9   30-39    4          1
10  40-49    0         50
11  40-49    1         11
12  40-49    2          5
13  40-49    3          6
14  40-49    4          0
15  50-59    0         65
16  50-59    1         24
17  50-59    2         14
18  50-59    3         17
19  50-59    4          5
20  60-69    0         32
21  60-69    1         17
22  60-69    2         17
23  60-69    3         10
24  60-69    4          5
25  70-79    0          6
26  70-79    1          1
27  70-79    2          0
28  70-79    3          1
29  70-79    4          2
30    80+    0          0
31    80+    1          0
32    80+    2          0
33    80+    3          0
34    80+    4          0

In [60]:
# Find the range of cholesterol levels among patients (minimum, maximum).
# Define the SQL query
query = """
SELECT 
    MIN(chol) AS min_cholesterol,
    MAX(chol) AS max_cholesterol
FROM 
    patients;
"""

# Execute the query and load the result into a DataFrame
cholesterol_range = pd.read_sql_query(query, conn)

# Close the database connection
# conn.close()

# Display the result
print(cholesterol_range)

   min_cholesterol  max_cholesterol
0              126              564

In [64]:
# Determine the age range (youngest and oldest) for male and female patients separately.
# Define the SQL query
query = """
SELECT 
    sex,
    MIN(age) AS youngest,
    MAX(age) AS oldest
FROM 
    patients
GROUP BY 
    sex;
"""

# Execute the query and load the result into a DataFrame
age_range_by_gender = pd.read_sql_query(query, conn)

# Close the database connection
# conn.close()

# Display the result
print(age_range_by_gender)

   sex  youngest  oldest
0    0        34      76
1    1        29      77

In [68]:
# Investigate the distribution of the target variable (presence or absence of heart disease) within different age groups (e.g., 20-30, 30-40, etc.).
#this assumes the indicies are the key as there is no other key column to join
# Fetch both tables into pandas DataFrames
patients_df = pd.read_sql_query("SELECT * FROM patients", conn, index_col=None)
heartdisease_df = pd.read_sql_query("SELECT * FROM heartdisease", conn, index_col=None)

# Set index for both DataFrames if they don't already have one
patients_df.index = patients_df.index
heartdisease_df.index = heartdisease_df.index

# Merge DataFrames on index
merged_df = patients_df.join(heartdisease_df, how='inner')
# Group by age group and heart disease presence/absence
age_distribution = merged_df.groupby(['age', 'num']).size().unstack(fill_value=0)

# Display the result
print(age_distribution)

num   0  1  2  3  4
age
29    1  0  0  0  0
34    2  0  0  0  0
35    2  2  0  0  0
37    2  0  0  0  0
38    1  0  0  0  1
39    3  0  0  1  0
40    1  1  0  1  0
41    9  1  0  0  0
42    7  0  1  0  0
43    5  1  1  1  0
44    8  1  2  0  0
45    6  1  0  1  0
46    4  2  1  0  0
47    3  2  0  0  0
48    4  1  0  2  0
49    3  1  0  1  0
50    4  1  0  1  1
51    9  1  1  1  0
52    9  2  1  1  0
53    6  1  0  1  0
54   10  2  1  3  0
55    3  0  1  3  1
56    5  2  3  1  0
57    7  7  1  1  1
58    7  4  2  4  2
59    5  4  4  1  0
60    3  4  3  1  1
61    1  3  3  0  1
62    4  2  2  3  0
63    3  2  2  1  1
64    6  2  0  1  1
65    4  2  1  0  1
66    4  0  2  1  0
67    3  2  2  2  0
68    2  0  1  1  0
69    2  0  1  0  0
70    1  1  0  1  1
71    3  0  0  0  0
74    1  0  0  0  0
76    1  0  0  0  0
77    0  0  0  0  1

In [82]:
# Find the maximum heart rate achieved during exercise for different age groups (e.g., 30-40, 40-50, etc.).
# Define the SQL query
# 8. thalach - maximum heart rate achieved
query = """
SELECT 
    CASE
        WHEN age BETWEEN 30 AND 39 THEN '30-39'
        WHEN age BETWEEN 40 AND 49 THEN '40-49'
        WHEN age BETWEEN 50 AND 59 THEN '50-59'
        WHEN age BETWEEN 60 AND 69 THEN '60-69'
        WHEN age BETWEEN 70 AND 79 THEN '70-79'
        ELSE '80+'
    END AS age_group,
    MAX(thalach) AS max_heart_rate
FROM 
    patients
GROUP BY 
    age_group

"""

# Execute the query and load the result into a DataFrame
max_heart_rate_by_age_group = pd.read_sql_query(query, conn)

# Close the database connection
# conn.close()

# Display the result
print(max_heart_rate_by_age_group)

  age_group  max_heart_rate
0     30-39             192
1     40-49             194
2     50-59             195
3     60-69             179
4     70-79             162
5       80+             202

In [86]:
# Calculate the percentage of patients with fasting blood sugar greater than 120 mg/dl.
# 6. fbs - (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)
# Define the SQL query
query = """
SELECT 
    (SUM(fbs) * 100.0 / COUNT(*)) AS percentage_above_120
FROM 
    patients;
"""
# Execute the query and load the result into a DataFrame
percentage_fasting_sugar = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

# Display the result
print(percentage_fasting_sugar)

   percentage_above_120
0             14.851485

In [94]:
# Find the ratio of patients with abnormal resting electrocardiographic results to those with normal results.
# 7. restecg - resting electrocardiographic results
#         -- Value 0: normal
#         -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
#         -- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria
# Define the SQL query
query = """
SELECT 
    (SUM(CASE WHEN restecg IN (1, 2) THEN 1 ELSE 0 END) * 1.0 / NULLIF(SUM(CASE WHEN restecg = 0 THEN 1 ELSE 0 END), 0)) AS ratio_abnormal_to_normal
FROM 
    patients;
"""

# Execute the query and load the result into a DataFrame
ratio_abnormal_to_normal = pd.read_sql_query(query, conn)

# Close the database connection
# conn.close()

# Display the result
print(ratio_abnormal_to_normal)

   ratio_abnormal_to_normal
0                  1.006623

In [98]:
# Count the number of patients with reversible thalassemia detected by thallium stress testing.
# 13. thal - 3 = normal; 6 = fixed defect; 7 = reversable defect
# Define the SQL query
query = """
SELECT 
    COUNT(*) AS count_reversible_thalassemia
FROM 
    patients
WHERE 
    thal = 7;
"""

# Execute the query and load the result into a DataFrame
reversible_thal_count = pd.read_sql_query(query, conn)
# Display the result
print(reversible_thal_count)

   count_reversible_thalassemia
0                           117

In [100]:
# Calculate the average age of patients who experienced chest pain during diagnosis.
# 3. cp - chest pain type
#         -- Value 1: typical angina
#         -- Value 2: atypical angina
#         -- Value 3: non-anginal pain
#         -- Value 4: asymptomatic

# Define the SQL query
query = """
SELECT 
    AVG(age) AS average_age_with_chest_pain
FROM 
    patients
WHERE 
    cp IN (1, 2, 3);
"""

# Execute the query and load the result into a DataFrame
average_age_chest_pain = pd.read_sql_query(query, conn)

# Close the database connection
# conn.close()

# Display the result
print(average_age_chest_pain)

   average_age_with_chest_pain
0                     53.27673

In [102]:
# Investigate the distribution of patients based on the number of major vessels colored by fluoroscopy (0-3).
# 12. ca - number of major vessels (0-3) colored by flourosopy
# Define the SQL query
query = """
SELECT 
    ca AS number_of_major_vessels,
    COUNT(*) AS patient_count
FROM 
    patients
GROUP BY 
    ca
ORDER BY 
    ca;
"""

# Execute the query and load the result into a DataFrame
major_vessels_distribution = pd.read_sql_query(query, conn)

# Close the database connection
# conn.close()

# Display the result
print(major_vessels_distribution)

   number_of_major_vessels  patient_count
0                      NaN              4
1                      0.0            176
2                      1.0             65
3                      2.0             38
4                      3.0             20

In [106]:
# Close the database connection
conn.close()